@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <p class="lead">Performer, Podcaster, and Bacon Enthusiast.</p>

    <hr class="my-4" />

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="mb-4">
                <a href="https://baconsale.com/" target="_blank">
                    <img src="~/BaconsalePhoto.jpg"
                         alt="Joel and Baconsale"
                         class="img-fluid rounded shadow"
                         style="max-height: 400px; transition: 0.3s;"
                         onmouseover="this.style.opacity='0.8'"
                         onmouseout="this.style.opacity='1'">
                </a>
                <p class="mt-2 text-muted"><em>Click the image above to check out Baconsale!</em></p>
            </div>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="https://www.qwcomedy.com/" class="btn btn-primary btn-lg px-4 gap-3" target="_blank">
                    Quick Wits Comedy
                </a>
                <a href="https://baconsale.com/" class="btn btn-outline-secondary btn-lg px-4" target="_blank">
                    Baconsale Site
                </a>
            </div>
        </div>
    </div>
</div>